:root {
  --font-plain: Arial, Helvetica, sans-serif;
  --font-mono: 'Lucida Console', Monaco, monospace;
  --dark: #050505;
  --darkish: #404040;
  --lightish: #e6e6e6;
  --light: #fafafa;
  --offWhite: #efefef;
  --mid: #595959;
  --mid-2: #a3a3a3;
  --alpha: #353eea;
  --bravo: #651297;
  --charlie: #131b96;
  --flow-space: 1.5rem;
  --flow-small: 1rem;
  --flow-large: 4rem;
  --radius-small: 4px;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
h1,
h2,
h3,
h4 {
  letter-spacing: -0.5px;
  margin: var(--flow-space) 0;
  font-weight: 700;
}
/* Set core body defaults */
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--font-plain);
  color: var(--dark);
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: var(--alpha);
}
a {
  text-decoration: none;
  font-weight: 700;
  color: var(--dark);
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s ease 0s;
}

a:not([class]):hover {
  border-bottom: 2px solid var(--alpha);
}
/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

time {
  color: var(--mid);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ================
  Responsive type
  =============== */

@media (min-width: 640px) {
  body {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  body {
    font-size: 17px;
  }
}
@media (min-width: 1024px) {
  body {
    font-size: 18px;
  }
}
@media (min-width: 1280px) {
  body {
    font-size: 19px;
  }
}

/* ==============
  Layout
=============== */

.container {
  margin-inline: auto;
  padding-inline: 1rem;
  max-width: 64rem;
  margin: 0 0 auto 4rem;
}

.site-title {
  margin-bottom: var(--flow-space);
}

/* ============
  Index
  ============ */

header {
  margin-bottom: var(--flow-large);
  outline: 1px solid hotpink;
  min-width: 100%;
}
nav {
  margin: 0 3em;
  padding: 0.3em 0;
}

.nav-list {
  display: flex;
  justify-content: space-between;
}
.post-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  gap: 16px;
}
.post-list-item {
  margin: var(--flow-space) 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.post-title {
  text-transform: uppercase;
  color: var(--dark);
  transition: color 0.1s ease 0s;
  margin-bottom: var(--flow-small);
  border: none;
}
.post-title:hover {
  color: var(--alpha);
  border: none;
}
.post-time {
  color: var(--mid-2);
}
.post-form {
  display: flex;
  justify-content: flex-start;
  margin: var(--flow-large) 0;
}
.post-search {
  width: 40%;
  padding: 0.5em;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid var(--mid-2);
  border-radius: var(--radius-small);
  transition: all 0.2s ease 0s;
}
.post-search:focus {
  border-color: var(--alpha);
  box-shadow: 0 0 0 1px var(--alpha);
}

/* ===============
  Posts
  ============== */

.article-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: var(--flow-space);
  max-width: 768px;
  margin: 2rem auto;
}
.article-title {
  margin: var(--flow-large) 0;
}
